[Unit]
Description=Clock Service for LED Matrix
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/syd/led-matrix/scripts/start.sh
User=root
Group=root
WorkingDirectory=/home/syd/led-matrix

[Install]
WantedBy=default.target
